/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #fce4ec; /* Світло-рожевий фон */
  color: #880e4f; /* Темно-рожевий колір тексту */
}

h1 {
  color: #d81b60; /* Яскраво-рожевий колір для заголовків */
  text-align: center;
}

nav {
  background-color: #f50057; /* Рожевий фон для навігації */
  padding: 10px;
  border-radius: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}
